<!DOCTYPE html>
{% extends 'courselayout.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block service %}
    <div class="row ps-5 ms-5 pb-5">
        <div class="col-md-12 px-5">
            <div class="col-md-4 mt-5" style="float: left;">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'images/mca.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5" style="float: left;">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'images/mca.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4 mt-5" style="float: left;">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'images/mca.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4 mt-5"  style="float: left;">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'images/mca.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5" style="float: left;">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'images/mca.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5" style="float: left;">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'images/mca.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>