<!DOCTYPE html>
{% extends 'adminpanel.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block student %}
    <div class="row pt-4" style="background-color: aliceblue;">
        <form action="{% url 'upsave' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="row p-4 m-5 mt-3 shadow" style="background-color: white;">
                <div class="col-md-6 mt-3">
                    <h6>Enter your Enrollment Number<span style="color: red;"> *</span></h6>
                    <input type="text" name="enrollment" value="{{ue.enrollment}}" class="form-control rounded-0 border-dark" placeholder="Enrollment Number" readonly required/>
                </div>
                <div class="col-md-6 mt-3">
                    <h6>Enter your Name<span style="color: red;"> *</span></h6>
                    <input type="text" name="name" value="{{ue.name}}" class="form-control rounded-0 border-dark" placeholder="Name" required/>
                </div>
                <div class="col-md-6 mt-3">
                    <h6>Enter your Father's Name<span style="color: red;"> *</span></h6>
                    <input type="text" name="fname" value="{{ue.fname}}" class="form-control rounded-0 border-dark" placeholder="Father's Name" required/>
                </div>
                <div class="col-md-6 mt-3">
                    <h6>Enter your Mother's Name<span style="color: red;"> *</span></h6>
                    <input type="text" name="mname" value="{{ue.mname}}" class="form-control rounded-0 border-dark" placeholder="Mother's Name" required/>
                </div>
                <div class="col-md-6" style="margin-top: 40px;">
                    <h6>Enter your Gender<span style="color: red;"> *</span></h6>
                    <input type="radio" name="gender" value="male"/> Male&nbsp; 
                    <input type="radio" name="gender" value="female"/> Female&nbsp; 
                    <input type="radio" name="gender" value="other"/> Other&nbsp;
                </div>
                <div class="col-md-6 mt-3">
                    <h6>Enter your Address<span style="color: red;"> *</span></h6>
                    <textarea name="address" class="form-control border-dark rounded-0" placeholder="Address">{{ue.address}}</textarea>
                </div>
                <div class="col-md-6 mt-3">
                    <h6>Enter your Course<span style="color: red;"> *</span></h6>
                    <input type="text" name="course" value="{{ue.course}}" class="form-control rounded-0 border-dark" placeholder="Course" required/>
                </div>
                <div class="col-md-6 mt-3">
                    <h6>Enter your Branch<span style="color: red;"> *</span></h6>
                    <input type="text" name="branch" value="{{ue.branch}}" class="form-control rounded-0 border-dark" placeholder="Branch" required/>
                </div>
                <div class="col-md-6 mt-3">
                    <h6>Enter your Year<span style="color: red;"> *</span></h6>
                    <input type="text" name="year" value="{{ue.year}}" class="form-control rounded-0 border-dark" placeholder="Year" required/>
                </div>
                <div class="col-md-6 mt-3">
                    <h6>Enter your Contact Number<span style="color: red;"> *</span></h6>
                    <input type="text" name="mobile" value="{{ue.mobile}}" class="form-control rounded-0 border-dark" placeholder="Contact Number" required/>
                </div>
                <div class="col-md-6 mt-3">
                    <h6>Enter your E-mail<span style="color: red;"> *</span></h6>
                    <input type="email" name="email" value="{{ue.email}}" class="form-control rounded-0 border-dark" placeholder="E-mail address" readonly required/>
                </div>
                <div class="col-md-6 mt-3">
                    <h6>Enter your Password<span style="color: red;"> *</span></h6>
                    <input type="password" name="password" value="{{ue.password}}" class="form-control rounded-0 border-dark" placeholder="Password" required/>
                </div>
                <div class="col-md-12 mt-3">
                    <h6>Enter your Files<span style="color: red;"> *</span></h6>
                    <input type="file" name="new_file" value="{{ue.new_file}}" class="form-control rounded-0 border-dark" placeholder="Password" required/>
                </div>
                <div class="col-md-12 mt-4">
                    <input type="submit" class="btn w-100 fw-bold" style="background-color: darkred; border-radius: 0px; color: white;"/>
                </div>
            </form>
        </div>
    {% endblock %}
</body>
</html>