<!DOCTYPE html>
{% extends 'courselayout.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block service %}
    <div class="row ps-5 ms-5 pb-5">
        <div class="col-md-12 px-5">
            <div class="col-md-4 mt-5"  style="float: left;">
                <div class="card shadow zoom-out" style="width: 18rem; height: 250px;">
                    <img src="{% static 'images/bba.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Bachelors in Business Administration (B.B.A.)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5"  style="float: left;">
              <div class="card shadow zoom-out" style="width: 18rem; height: 250px;">
                  <img src="{% static 'images/bca.png' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">Bachelor in Computer Applications (B.C.A.)</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4 mt-5"  style="float: left;">
            <div class="card shadow zoom-out" style="width: 18rem; height: 250px;">
                <img src="{% static 'images/blis.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Bachelor of Library and Information Science<br/> (B.L.I.S)</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-5"  style="float: left;">
          <div class="card shadow zoom-out" style="width: 18rem; height: 250px;">
              <img src="{% static 'images/ba.png' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Bachelor of Arts<br/> (B.A.)</p>
              </div>
          </div>
      </div>
      <div class="col-md-4 mt-5"  style="float: left;">
        <div class="card shadow zoom-out" style="width: 18rem; height: 250px;">
            <img src="{% static 'images/bcom.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Bachelor of Commerce<br/> (B.Com.)</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mt-5"  style="float: left;">
      <div class="card shadow zoom-out" style="width: 18rem; height: 250px;">
          <img src="{% static 'images/bsc.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Bachelor of Science<br/> (B.Sc.)</p>
          </div>
      </div>
  </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>